#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($beanName = $!context.beanName)
#set($sysCode = $!context.sysCode)
#set($uriPrefix = $!context.uriPrefix)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
#set($type = $!context.type)
#set($rootPackage = $!context.rootPackage)
package $!packagePath;

import com.kaka.common.base.BaseResult;
import $!{rootPackage}.#if(!$!{context.codeStatus})client.#{end}dto.*;
import $!{rootPackage}.config.#if(!$!{context.codeStatus})properties.AppProperties;#{else}AppConfig;
#{end}

import com.kaka.common.utils.exception.KakaException;
import $!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}service.$!{entity}Service;
import $!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}service.token.KakaTokenService;
import com.kaka.common.utils.*;
import com.kaka.common.enums.*;
import com.kaka.common.base.*;
import com.kaka.common.constants.*;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import javax.servlet.http.HttpServletRequest;
import java.util.Map;
import java.util.List;
import java.util.Objects;
import org.springframework.util.CollectionUtils;


/**
* @apiDefine $!{tableName} $!context.desc
* @Description： $!context.desc
* @PackageName: $!packagePath
* @ClassName: $!{entity}Controller
* @project： $!context.sysCode
* @author: jsk
* @dep: 99技术部
* @company: 99技术有限公司
* @address: 国际大路,中原谷
* @date： $!context.date
*/
@RestController
public class $!{entity}Controller {
    private  final LogUtil logger = new LogUtil(this.getClass());

    @Autowired
    private $!{entity}Service $!{beanName}Service;
    @Autowired
    private KakaTokenService kakaTokenService;

    @Autowired
    private #if(!$!{context.codeStatus})AppProperties#{else}AppConfig#{end} appConfig;

    /**
    * @apiIgnore Not finished Method
    * @api {get} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/{$!{colKey.attrName}} 根据$!{colKey.attrName}查找信息
    * @apiVersion 1.0.0
    * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/{$!{colKey.attrName}}
    * @apiGroup $!{tableName}
    * @apiHeader {String} AUTHORIZATION 认证用的的令牌
    #foreach($column in $columns)
    * @apiSuccess (200) {$!column.javaType} #if($!column.notNull=="false") [$!column.attrName] #else  $!column.attrName   #end $!column.colDesc
    #end
    * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
    * @apiError (500) {String} ServiceInternalError 服务器内部错误
    */
    @RequestMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/{$!{colKey.attrName}}",method = RequestMethod.GET)
    public ResponseEntity<?>  selectOne(HttpServletRequest request,@PathVariable $!colKey.javaType $!{colKey.attrName}) throws KakaException {
        if(Objects.isNull($!{colKey.attrName})){
            logger.info("传入主键为空!");
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST, "传入主键为空!");
        }
        $!{entity}DTO objectDTO= $!{beanName}Service.selectOne($!{colKey.attrName});
        return new ResponseEntity(BaseResultUtil.handlerSuccess(objectDTO), HttpStatus.OK);
    }

    /**
    * @apiIgnore Not finished Method
    * @api {post} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}s 根据传入条件查询list列表
    * @apiVersion 1.0.0
    * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}s
    * @apiGroup $!{tableName}
    *
    * @apiHeader {String} AUTHORIZATION 认证用的的令牌
    * @apiParam (Body) {java.lang.Long}   [pageIndex] 当前页码 默认为0
    * @apiParam (Body) {java.lang.Long}   [pageSize]  页大小  默认为20
    #foreach($column in $columns)
     #if($!{column.attrName}=="lastUser"||$!{column.attrName}=="gmtCreate"||$!{column.attrName}=="gmtModified")

     #else
     * @apiParam (Body) {$!column.javaType}  [$!{column.attrName}]  $!column.colDesc
     #end
    #end
    * @apiSuccess (200) {java.lang.Long}   pageSize  页大小
    * @apiSuccess (200) {java.lang.Long}   pageIndex  当前页码
    * @apiSuccess (200) {java.lang.Long}   totalPageCount  总页数
    * @apiSuccess (200) {java.lang.Long}   record  记录总数
    * @apiSuccess (200) {Object[]}   data 列表数据
    #foreach($column in $columns)
    * @apiSuccess (200) {$!column.javaType} #if($!column.notNull=="false") [data.$!column.attrName] #else  data.$!column.attrName   #end $!column.colDesc
    #end
    * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
    * @apiError (500) {String} ServiceInternalError 服务器内部错误
    */
    @RequestMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}s",method = RequestMethod.POST)
    public ResponseEntity<?> selectList(HttpServletRequest request,@RequestBody Map<String,Object> data) throws KakaException {
        PageResult<List<$!{entity}DTO>> result = $!{beanName}Service.selectPage(data);
        BaseResultUtil.wrapSuccess(result);
        return new ResponseEntity(result, HttpStatus.OK);
    }

    /**
    * @apiIgnore Not finished Method
    * @api {post} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/insert 新增数据
    * @apiVersion 1.0.0
    * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/insert
    * @apiGroup $!{tableName}
    *
    * @apiHeader {String} AUTHORIZATION 认证用的的令牌
    #foreach($column in $columns)
        #if($!{column.attrName}=="id"||$!{column.attrName}=="lastUser"||$!{column.attrName}=="gmtCreate"||$!{column.attrName}=="gmtModified")

        #else
            * @apiParam (Body) {$!column.javaType} #if($!column.notNull=="false") [$!column.attrName] #else  $!column.attrName   #end $!column.colDesc
        #end
    #end
    * @apiSuccess (200) {String} data 插入记录条数
    * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
    * @apiError (500) {String} ServiceInternalError 服务器内部错误
    */
    @PostMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/insert")
    public ResponseEntity<?>  insert(HttpServletRequest request,@RequestBody $!{entity}DTO $!{beanName}DTO) throws KakaException {
        if(Objects.isNull($!{beanName}DTO)){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"传入对象为空!");
        }
        if(null != $!{beanName}DTO.get$!{colKey.methodName}()){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"新增数据主键必需为空!"+$!{beanName}DTO.toString());
        }
        #foreach($column in $columns)
            #if($!{column.attrName}=="lastUser")
                $!{beanName}DTO.set$!{column.methodName}(this.getLoginUserName(request));
            #end
        #end
        int update= $!{beanName}Service.insert($!{beanName}DTO);
        if(update<=0){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"更新失败!+$!{beanName}DTO"+$!{beanName}DTO);
        }
        return  new ResponseEntity(BaseResultUtil.handlerSuccess(update), HttpStatus.OK);
    }



    /**
    * @apiIgnore Not finished Method
    * @api {post} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/update 更新指定$!{colKey.attrName}信息
    * @apiVersion 1.0.0
    * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/update
    * @apiGroup $!{tableName}
    *
    * @apiHeader {String} AUTHORIZATION 认证用的的令牌
    #foreach($column in $columns)
    #if($!{column.attrName}=="lastUser"||$!{column.attrName}=="gmtCreate"||$!{column.attrName}=="gmtModified")

    #else
    * @apiParam (Body) {$!column.javaType} #if($!column.notNull=="false") [$!column.attrName] #else  $!column.attrName   #end $!column.colDesc
    #end
    #end
    * @apiSuccess (200) {String} data 更新记录条数
    * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
    * @apiError (500) {String} ServiceInternalError 服务器内部错误
    */
    @RequestMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/update",method = RequestMethod.POST)
    public ResponseEntity<?>  update(HttpServletRequest request,@RequestBody $!{entity}DTO $!{beanName}DTO) throws KakaException {
        if(Objects.isNull($!{beanName}DTO)){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"传入对象为空!");
        }
        if(Objects.isNull($!{beanName}DTO.get$!{colKey.methodName}())){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"更新操作主键不能为空!"+$!{beanName}DTO.toString());
        }
        #foreach($column in $columns)
        #if($!{column.attrName}=="lastUser")
            $!{beanName}DTO.set$!{column.methodName}(this.getLoginUserName(request));
        #end
        #end
        int update= $!{beanName}Service.update($!{beanName}DTO);
        if(update<=0){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"更新失败!+$!{beanName}DTO"+$!{beanName}DTO);
        }
        return new ResponseEntity(BaseResultUtil.handlerSuccess(update), HttpStatus.OK);
    }


#set($isStatus = "false")
     #foreach($column in $columns)
       #if($!column.attrName=="status")
      #set($isStatus ="true")
       #end
     #end
    #set($isLastUser = "false")
    #foreach($column in $columns)
        #if($!column.attrName=="lastUser")
            #set($isLastUser ="true")
        #end
    #end
 #if($!isStatus=="true")
     /**
     * @apiIgnore Not finished Method
     * @api {post} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/enable/{$!{colKey.attrName}} 生效数据
     * @apiVersion 1.0.0
     * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/enable/{$!{colKey.attrName}}
     * @apiGroup $!{tableName}
     *
     * @apiHeader {String} AUTHORIZATION 认证用的的令牌
     * @apiSuccess (200) {String} data 修改记录条数
     * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
     * @apiError (500) {String} ServiceInternalError 服务器内部错误
     */
    @RequestMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/enable/{$!{colKey.attrName}}",method = RequestMethod.POST)
    public ResponseEntity<?>  enable(HttpServletRequest request,@PathVariable $!colKey.javaType $!{colKey.attrName}) throws KakaException {
        if(Objects.isNull($!{colKey.attrName})){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"传入对象为空!$!{colKey.attrName}="+$!{colKey.attrName});
        }
        int update= $!{beanName}Service.enable($!{colKey.attrName}#if($!{isLastUser}=="true") ,this.getLoginUserName(request) #end);
        if(update<=0){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"更新失败!+update"+update);
        }
        return  new ResponseEntity(BaseResultUtil.handlerSuccess(update), HttpStatus.OK);
    }

     /**
     * @apiIgnore Not finished Method
     * @api {post} #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/disable/{$!{colKey.attrName}} 禁用数据
     * @apiVersion 1.0.0
     * @apiName #if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/disable/{$!{colKey.attrName}}
     * @apiGroup $!{tableName}
     *
     * @apiHeader {String} AUTHORIZATION 认证用的的令牌
     * @apiSuccess (200) {String} data 修改记录条数
     * @apiError (400) {String} RequestParamsError 请求中的参数不符合要求
     * @apiError (500) {String} ServiceInternalError 服务器内部错误
     */
    @RequestMapping(value="#if($!{uriPrefix})/$!{uriPrefix}#end/$!{tableName}/disable/{$!{colKey.attrName}}",method = RequestMethod.POST)
    public ResponseEntity<?>  disable(HttpServletRequest request,@PathVariable $!colKey.javaType $!{colKey.attrName}) throws KakaException {
        if(null == $!{colKey.attrName}){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"传入对象为空!$!{colKey.attrName}="+$!{colKey.attrName});
        }
        int update= $!{beanName}Service.disable($!{colKey.attrName}#if($!{isLastUser}=="true"),this.getLoginUserName(request)#end);
        if(update<=0){
            throw new KakaException(ResultCode.FAILURE.getCode(),HttpStatus.BAD_REQUEST,"更新失败!+update"+update);
        }
      return  new ResponseEntity(BaseResultUtil.handlerSuccess(update), HttpStatus.OK);
    }
    #end

    /**
    * 获取登入用户信息
    * @param request
    * @return
    * @throws KakaException
    */
    private String getLoginUserName(HttpServletRequest request) throws KakaException {
        String authToken = request.getHeader(appConfig.getTokenHeader());
        if (StringUtils.isNotBlank(authToken)) {
        return kakaTokenService.getUsernameFromToken(authToken);
        }
        throw new KakaException(ResultCode.FAILURE.getCode(), HttpStatus.BAD_REQUEST, "传入对象为空!通过authToken获取用户id失败!");
    }
}
