#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
#set($rootPackage = $!context.rootPackage)
package $!packagePath;

import lombok.Data;

/**
* @Description： $!context.desc
* @PackageName: $!packagePath
* @ClassName: $!{entity}DO
* @project： $!context.sysCode
* @author: jsk
* @dep: 99技术部
* @company: 99技术有限公司
* @address: 国际大路,中原谷
* @date： $!context.date
*/
@Data
public class $!{entity}DO {
   #foreach($column in $columns)
    /**
     * $!column.colDesc
     */
    private $column.javaType $column.attrName;
   #end
#*#foreach($column in $columns)
    public $!column.javaType get$!column.methodName () {
    #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
    return StringUtils.trim($!column.attrName);
    #else
    return $!column.attrName;
    #end
    }

    public void set$!column.methodName ( $!column.javaType $!column.attrName ) {
        #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
        this.$!column.attrName = StringUtils.trim($!column.attrName);
        #else
        this.$!column.attrName = $!column.attrName;
        #end
    }
  #end*#
}
