#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
#set($rootPackage = $!context.rootPackage)
package $!packagePath;

import org.apache.commons.lang3.StringUtils;
/**
* @Description： $!context.desc
* @PackageName: $!packagePath
* @ClassName: $!{entity}DO
* @project： $!context.sysCode
* @author: springyu 一只很土的狼  pingchunyu@kaka.com.cn
* @dep: 云端技术部
* @company: 浙江亿咖通科技有限公司  Zhejiang e-CarX Technology Co., Ltd
* @address: 浙江省杭州市滨江区泰安路杭州印B座17楼(华联·星光大道2期西)
* @date： $!context.date
*/
public class $!{entity}DO {
   #foreach($column in $columns)
    /**
     * $!column.colDesc
     */
    private $column.javaType $column.attrName;
   #end


#foreach($column in $columns)
    public $!column.javaType get$!column.methodName () {
    #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
    return StringUtils.trim($!column.attrName);
    #else
    return $!column.attrName;
    #end
    }

    public void set$!column.methodName ( $!column.javaType $!column.attrName ) {
        #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
        this.$!column.attrName = StringUtils.trim($!column.attrName);
        #else
        this.$!column.attrName = $!column.attrName;
        #end
    }
  #end

}
