#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($type = $!context.type)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
package $!packagePath;

#set($rootPackage = $!context.rootPackage)
import $!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}dataobject.*;
##import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import java.util.Map;

/**
* @Description： $!context.desc
* @PackageName: $!packagePath
* @ClassName: $!{entity}${type}
* @project： $!context.sysCode
* @author: jsk
* @dep: 99技术部
* @company: 99技术有限公司
* @address: 国际大路,中原谷
* @date： $!context.date
*/
 ##@Mapper
public interface $!{entity}$!{type} {

    $!{entity}DO selectOne($!{colKey.javaType} $!{colKey.attrName});

    List<$!{entity}DO> selectList(Map<String,Object> param);

    List<$!{entity}DO> selectListByIds(List<$!{colKey.javaType}> $!{colKey.attrName}s);

    Integer countList(Map<String,Object> param);

    int insert($!{entity}DO object);

    int update($!{entity}DO object);

    int updateStatus($!{entity}DO object);

    int delete($!{colKey.javaType} $!{colKey.attrName});

    void insertBatch(List<$!{entity}DO> list);

    void updateBatch(List<$!{entity}DO> list);
}
