#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($type = $!context.type)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
package $!packagePath;

#set($rootPackage = $!context.rootPackage)
import $!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}dataobject.*;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
* @Description： $!context.desc
* @PackageName: $!packagePath
* @ClassName: $!{entity}${type}
* @project： $!context.sysCode
* @author: jsk
* @dep: 99技术部
* @company: 99技术有限公司
* @address: 国际大路,中原谷
* @date： $!context.date
*/
public interface $!{entity}$!{type} extends BaseMapper<$!{entity}DO> {

    int updateStatus($!{entity}DO object);
}
