<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
#set($rootPackage = $!context.rootPackage)

<mapper namespace="$!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}mapper.$!{entity}Mapper" >
    <resultMap id="BaseResultMap" type="$!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}dataobject.$!{entity}DO" >
        #foreach($column in $columns)#if($column.primaryKey)<id column="$column.colName" property="$column.attrName" jdbcType="$column.colType" />#else<result column="$column.colName" property="$column.attrName" jdbcType="$column.colType" />#end

        #end

    </resultMap>

    <sql id="base_column_list" >
        #foreach($column in $columns)$column.colName #if($velocityCount != $columns.size()),#end#end

    </sql>

    <sql id="base_column_where" >
        #foreach($column in $columns)
        #if(!("java.util.Date"==($!{column.javaType})))
        <if test="$!{column.attrName} != null" >
             AND $!column.colName = #{$!{column.attrName}}
           </if>
        #end
        #end
    </sql>

    <update id="updateStatus" parameterType="$!{rootPackage}.#if(!$!{context.codeStatus})biz.#{end}dataobject.$!{entity}DO" >
        UPDATE $!tableName SET  gmt_modified = (UNIX_TIMESTAMP(now(3)) * 1000), last_user=#{lastUser}, status=#{status}
        WHERE
        $!colKey.colName = #{$!colKey.attrName}
    </update>

</mapper>