#set($packagePath = $!context.packagePath)
#set($entity = $!context.entity)
#set($columns = $!context.columns)
#set($tableName = $!context.tableName)
#set($colKey = $!context.colKey)
#set($type = $!context.type)
package $!packagePath;
#set($rootPackage = $!context.rootPackage)
import java.util.*;
import com.kaka.common.base.*;
import org.apache.commons.lang3.StringUtils;
import com.kaka.common.annotation.KakaParam;
import com.kaka.common.annotation.KakaGroup;
/**
* @Description： $!context.desc 查询对象
* @PackageName: $!packagePath
* @ClassName: $!{entity}${type}
* @project： $!context.sysCode
* @author: jsk
* @dep: ***部门
*
* @address: hundsun
* @date： $!context.date
*/
public class $!{entity}${type} extends QueryObject{
#foreach($column in $columns)
/**
* $!column.colDesc
*/
    #set($str=$!column.colDesc)
    #if($str.length()>128)
        #set($str=$str.substring(0,128))
    #end
@KakaParam(displayName = "$!str",order = $velocityCount)
@KakaGroup
private $column.javaType $column.attrName;
#end


#foreach($column in $columns)
public $!column.javaType get$!column.methodName () {
    #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
    return StringUtils.trim($!column.attrName);
    #else
    return $!column.attrName;
    #end
}

public void set$!column.methodName ( $!column.javaType $!column.attrName ) {
    #if($!column.javaType=="java.lang.String"|| $!column.javaType=="String")
    this.$!column.attrName = StringUtils.trim($!column.attrName);
    #else
    this.$!column.attrName = $!column.attrName;
    #end
}
#end

}
